html,
body {
	background-color: #fff;
}

.formWrap {
	margin: 25px auto 10px;
	width: 680px;
}

.table-head th {
	background-color: #F4F5F9;
}

.search {
	padding: 3px;
	width: 530px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.search-btn {
	display: inline-block;
	margin: 0 25px;
	padding: 0 14px;
	width: 95px;
	height: 30px;
	border: 1px solid #83f1cc;
	border-radius: 2px;
	background: #EAFEF8 url(/public/img/icon-search.png) left no-repeat;
	background-origin:content-box;
	font-size: 14px;
	color: #85d894;
}

.checkWrap {
	margin: 10px 0;
	padding-left: 10px;
}

.inputWrap,
.checkWrap {
	margin: 0 auto;
}

.system,
.optionType {
	margin-top: 6px;
}

.system-label {
	height: 34px;
	line-height: 34px;
}

.multisel-wrap,
.check-all,
.filter-multi {
	display: inline-block;
}

.check-all {
	display: inline-block;
}

.tableWrap {
	margin: 0 15px;
}